{% extends 'base.html' %}

{% block content %}
<div class="card" style="max-width: 800px; margin: 20px auto;">
    <h2 style="color: #2e7d32;"><i class="fa-solid fa-gear"></i> Налаштування профілю</h2>

    {% if messages %}
        <div style="color: #4CAF50; margin-bottom: 15px; font-weight: bold;">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </div>
    {% endif %}

    <form method="POST">
        {% csrf_token %}
        <div style="display: flex; gap: 20px; flex-wrap: wrap;">
            
           
            <div style="flex: 1; min-width: 300px; background: #f9f9f9; padding: 15px; border-radius: 8px;">
                <h3><i class="fa-solid fa-id-card"></i> Дані акаунту</h3>
                <div style="margin-bottom: 15px;">
                    {{ form.email }}
                </div>
                <div style="margin-bottom: 15px;">
                    <label>Новий пароль:</label>
                    {{ form.password }}
                </div>
            </div>
        
            <div style="flex: 1; min-width: 300px; background: #f9f9f9; padding: 15px; border-radius: 8px;">
                <h3><i class="fa-solid fa-tower-observation"></i> Моніторинг</h3>
                
                <div style="margin-bottom: 15px;">
                    <label>Обране місто:</label>
                    <select name="gorod_select">
                        <option value="none">--- Оберіть місто ---</option>
                        {% for g in goroda %}
                            <option value="{{ g.id }}" {% if profile.izbranniy_gorod_id == g.id %}selected{% endif %}>{{ g.name }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div style="margin-bottom: 15px;">
    <label>Інтервал оновлення:</label>
    <select name="interval">
        
        <option value="1" {% if profile.update_interval == 1 %}selected{% endif %}>1 година</option>
        <option value="3" {% if profile.update_interval == 3 %}selected{% endif %}>3 години</option>
        <option value="24" {% if profile.update_interval == 24 %}selected{% endif %}>24 години</option>
    </select>
</div>

                <div style="margin-top: 20px;">
                    <label style="cursor: pointer; display: flex; align-items: center; gap: 10px;">
                        <input type="checkbox" name="notifs" {% if profile.send_notifs %}checked{% endif %} style="width: 20px; margin: 0;">
                        Отримувати Email сповіщення при небезпеці
                    </label>
                </div>
            </div>
        </div>
        <button type="submit" class="btn-main" style="margin-top: 20px; width: 100%;"><i class="fa-solid fa-floppy-disk"></i> Зберегти зміни</button>
    </form>
</div>
{% endblock %}