{% extends 'base.html' %}

{% block content %}
<div class="card" style="max-width: 400px; margin: 50px auto; text-align: center;">
    <h2 style="color: #2e7d32;"><i class="fa-solid fa-right-to-bracket"></i> Вхід у систему</h2>
    

    {% if messages %}
        <div style="color: #d32f2f; margin-bottom: 15px; font-weight: bold;">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </div>
    {% endif %}

    <form method="POST" style="text-align: left;">
        {% csrf_token %}
        {{ form.as_p }}
        
        <button type="submit" class="btn-main" style="width: 100%; margin-top: 15px;">Увійти</button>
    </form>
    
    <div style="margin-top: 20px;">
        Немає акаунту? <a href="{% url 'register' %}">Зареєструватися</a>
    </div>
</div>
{% endblock %}